{% extends "base.html" %}

{% block title %} Birds {% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <p>{{ username }}</p>
        <a href="{{ url_for('upload_post') }}">Upload Photo</a><br>
        <a href="{{ url_for('add_to_blacklist') }}">Block Poacher</a><br>
        <a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
        <p><a href="{{ url_for('login') }}">login</a> please</p>
    {% endif %}

    {% for data in posts_data %}
        <div>
            <div>
                <img src="{{ data.get('url') }}" alt="bird photo" height="200">
            </div>
            <div>
                <p>{{ data.get('bird_name') }}</p>
            </div>
            <div>
                <p>{{ data.get('location') }}</p>
            </div>
            {% if current_user.is_authenticated and data.author == current_user %}
            <div>
                <form action="{{ url_for('delete_post', post_id=data.id) }}" method="POST">
                    <button type="submit" title="Delete">Delete</button>
                </form>
            </div>
            {% endif %}
            <div>
                <span>{{ data.get('likes')|length }}</span>
                <form action="{{ url_for('like_post', post_id=data.id)}}" method="POST">
                    <button type="submit" title="Like">Like</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}