{% extends "base.html" %}

{% block title %} Birds {% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for data in posts_data %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ data.get('url') }}" class="card-img-top" alt="bird photo" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.get('bird_name') }}</h5>
                        <p class="card-text">
                            <i class="bi"></i> {{ data.get('location') }}
                        </p>
                    </div>
                    {% if current_user.is_authenticated and data.author == current_user %}
                        <div class="card-footer bg-transparent border-0">
                            <form action="{{ url_for('delete_post', post_id=data.id) }}" method="POST">
                                <button type="submit" class="btn btn-outline-danger btn-sm" title="Delete">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}