{% from 'form_helper.html' import displayField %}

{% extends "base.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
    <h1>Sign up</h1>

    <form action="{{ url_for('registration') }}", method="POST">

        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
        {{ displayField(form.confirm_pswd, 'Confirm password') }}

        <div>
            {{ form.submit_button }}
        </div>

        {{ form.csrf_token }}

    </form>
{% endblock %}
